<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First Node App</title>
</head>
<body>
  <h1>My first full stack project</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque beatae a reprehenderit sit obcaecati asperiores maiores impedit, pariatur aliquid tenetur, sint ducimus accusamus sapiente eaque mollitia. Iusto sequi iste, aperiam!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ducimus velit dolorum consectetur iusto quos facere amet sint eveniet delectus suscipit, tempore officia laborum accusantium rem, similique. Dolorum, in, quaerat!
  </p>
  <footer>
    <p>Serving up web apps without PHP</p>
  </footer>
</body>
</html>
